[app]
name = "bossfi"
port = 8000
version = "v1"
chain_id = 11155111
[pgsql]
host = "localhost"
port = "5432"
database = "bossfi"
username = "bossfi"
password = "bossfi"

[redis]
host = "localhost"
port = "6379"
db = 1
password = ""
max_idle = 10
max_active = 0
idle_timeout = 180

[kafka]
brokers = ["kafka1:9092"]
topic = "bossfi-indexer"
group_id = "bossfi-group"

[[chains]]
name = "sepolia"
chain_id = 11155111
#alchemy接口存在goethereum解析非标准字段问题，需要使用infura接口
endpoint = "https://sepolia.infura.io/v3/xxx"
boss_token_address = "0x02061c94109EFF3A02BA09D24f7932692331ab96"
boss_staking_address = "0xCbC832Cb1829FAc8F6bAFBEcEb91ba746be0B5ED"
start_block_number = 8545406
[[chains]]
name = "mainnet"
chain_id = 1
endpoint = "https://sepolia.infura.io/v3/xxx"
boss_token_address = "0x02061c94109EFF3A02BA09D24f7932692331ab96"
boss_staking_address = "0xCbC832Cb1829FAc8F6bAFBEcEb91ba746be0B5ED"
start_block_number = 8545406

[monitor]
pprof_enable = true
pprof_port = 6060